$color-white: rgba(255, 255, 255, 1);
$color-gray: rgba(246, 246, 246, 1);
$color-other-gray: rgba(237, 237, 237, 1);
$color-dark-gray: rgba(216, 216, 216, 1);
$color-darkest-gray-faded: rgba(51, 51, 51, 0.5);
$color-darkest-gray: rgba(51, 51, 51, 1);
$color-black: rgba(0, 0, 0, 1);
$color-green: rgba(0, 185, 86, 1);
$color-blue: rgba(52, 170, 242, 1);
$color-red: rgba(246, 36, 52, 1)